*.pyc
.DS_Store
__pycache__

.idea

# Alembic migration files
application/lib/migrations/versions/*.py

# Logs
log/*
!log/.gitkeep

# Config files (environment specific)
config/supervisor.conf
config/gunicorn.sh
config/nginx.conf
config/fixtures.sql

# LaTeX files
*.dvi
*.log
*.aux
*.synctex.gz
*.toc
*.lot
*.lof
*.out
docs/*.pdf
*.bbl
*.bbg
*.brf
*.blg

# Env file (environment specific)
.env

media/messages/chat/*
media/messages/group/*
media/messages/subject/*
media/avatars/*
