export PROJECT_DIR=''
export VENV_DIR=''

# DB config
export DB_DRIVER=''
export DB_HOST=''
export DB_USER=''
export DB_PASS=''
export DB_NAME=''

# Server config
export HOST=''

# Testing config
export TEST_URL=''

# Fabric config
export SERVER_URL=''
export SERVER_USER=''