# Misc config
PROJECT_DIR=''

# DB config
DB_DRIVER=''
DB_HOST=''
DB_USER=''
DB_PASS=''
DB_NAME=''

# Testing config
TEST_URL=''

# Fabric config
SERVER_URL=''
SERVER_USER=''
SERVER_VENV=''
SERVER_PROJET_DIR=''